.app {
  display: grid;
  grid-template-areas: "left main";
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.app--left-pane,
.app--right-pane {
  text-align: left;
}

.app--left-pane {
  background-color: #ddd;
}

.app--right-pane {
  background-color: #fff;
}
